.background-img-sec-rs {
    position: relative; 
    background-image: url('../assets/paralaxImage.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 464px;
    margin-top: 30px;
}

.background-img-sec-rs::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0; 
    right: 0;  
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
}

.hover-waly-nav{
    background-color: #F40000;
    }
.hover-waly-nav:hover{
    background-color: red;
    color:  white;
    }



@media (max-width: 640px) {
    .background-img-sec-rs {
        height: auto; 
        padding: 20px 0px;
    }
    .text-2xl {
        font-size: 1.5rem;
    }
}


.text-white {
    color: #ffffff; 
}

.text-dark {
    color: #000000; 
}
